{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="home">
        <section class="home-section">
            <div class="welcome-section">
                <div class="welcome-text">
                    <h2>Whoops. Something went wrong.</h2>
                    <p>If this keeps happening, please <a href="mailto:zrwoolf@fhsu.edu?subject=Problem with adding project contacts website">email us.</a></p>
                </div>
            </div>

        </section>
    </div>


{% endblock content %}