{% extends 'base.html' %}

{% block content %}

        <div class="home">
            <section class="home-section">
                <h2>Student-Athletes</h2>
                <p>The success of this year's Defend the Fort campaign is based on the information you provide.</p>
                <a class="main-button" href="/contact/team">Student Athletes</a>
            </section>

            <section class="home-section">
                <h2>Coaches</h2>
                <p>You can check on the progress of your team entering data. Click below.</p>
                <a class="main-button" href="/contact/coach">Coaches</a>
            </section>
        </div>

{% endblock content %}