{% extends 'base.html' %}

{%  load static %}

{% block content %}
    <div class="home">
        <section class="home-section">
            <div class="welcome-section">
                <div class="welcome-image">
                    <img src="{% static 'images/fhsu_buildings_picken_cupola_tight_social-1.jpg' %}" alt="Picken Hall cupula">
                </div>
                <div class="welcome-text">
                    <h2>Welcome, Tigers!</h2>
                    <p>Help us make your <em>I Fed the Tiger</em> project a success!</p>
                    <p>Providing contact information is the first step to getting your project funded!</p>
                    <a class="begin-button" href="/contact/team">Begin Here</a>
                </div>
            </div>

        </section>
    </div>
{% endblock content %}