* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: #f7f6f3;
    position: relative;
    min-height: 100vh;
    margin-bottom: 200px;
    clear: both;
}

nav {
    position: fixed;
    background-color: #333333;
    width: 100%;
    display: inline-block;
    top: 0;
    left: 0;
    z-index: 10;
}

h1 a {
    color: white;
    text-decoration: none;
    margin: auto;
    padding-left: 10px;
    font-size: 24px;
}

.main-button {
    display: block;
    background-color: #333333;
    position: relative;
    color: white;
    text-decoration: none;
    padding: 10px 45px;
    border-radius: 5px;
    margin: 0 10px;
    text-align: center;
    border: solid 2px transparent;
    width: 55vw;
}

.main-button:hover {
    border: solid 2px #63656a;
}

.container {
    position: relative;
    top: 75px;
    margin: auto;
    width: 80%;
    display: block;
}

.home {
    width: 90%;
    margin: auto;
    display: block;
    position: relative;
}

.section {
    position: relative;
    top: 75px;
    margin: auto;
    width: 80%;
    display: block;
}

form {
    display: block;
    padding: 0 30px;
    width: 100%;
}

.form-container {
    width: 85%;
    background-color: gainsboro;
    margin: auto;
    padding: 25px;
    border-radius: 7px;
    position: relative;
    display: block;
}

input, select {
    width: 45%;
    height: 25px;
}

button {
    background-color: white;
    font-size: 15px;
    padding: 10px 25px;
    border: #333333 2px solid;
    border-radius: 7px;
}

footer {
    background: #333333;
    position: fixed;
    display: block;
    width: 100%;
    bottom: 0px;
    left:0;
    height: 100px;
    padding: 10px 0 10px 0;

}

footer ul li {
    color: white;
    text-align: center;
    font-size: 14px;
    list-style-type: none;

}

footer ul li a {
    color: white
}

.home-section {
    width: 80%;
    position: relative;
    display: block;
    background-color: white;
    padding: 10px 30px 30px;
    margin-bottom: 15px;
    border-radius: 7px;
}

table {
    border-collapse: separate;
    border-spacing: 25px 10px;
    width: 80%;
    margin: auto;
    top: 20px;
    position: relative;
}

tbody tr td {
    text-align: center;
}

.page-title {
    width: 90%;
    margin: auto;
    border-bottom: #333333 2px solid;
}

.page-title h2, h4 {
    text-align: center;
}

h2 {
    font-size: 2em;
}

h4 {
    font-size: 1.25em;
    font-style: italic;
}

.content {
    padding-bottom: 100px;
    padding-top: 50px;
    position: relative;
    display: block;
    width: 85%;
    background-color: gainsboro;
    margin: auto;
    top: 100px;
    border-radius: 7px;
}

.donor-content {
    padding-bottom: 100px;
    padding-top: 50px;
    position: relative;
    display: block;
    width: 85%;
    background-color: gainsboro;
    margin: auto;
    border-radius: 7px;
}