{% extends 'base.html' %}

{% block content %}
        <div class="container">
            <div class="page-title">
                <h2>FHSU {{ team_name}}</h2>
                <h4>Donor Contact Submissions</h4>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Student-Athlete</th>
                        <th>Donors Submitted</th>
                    </tr>
                </thead>
                <tbody>
                    {% for k, v in donor_count.items %}
                    <tr>
                        <td>{{ k }}</td>
                        <td>{{ v }}</td>
                    {% endfor %}
                    </tr>
                </tbody>
            </table>
            <tbody>
                    {% for d in donorInfo %}
                    <tr>
                        <td>{{ d.donor_name }}</td>
                        <td>{{ d.donor_email }}</td>
                        <td>{{ d.donor_phone }}</td>
                        <td>{{ d.donor_address }}</td>
                        <td>{{ d.donor_city }}</td>
                        <td>{{ d.donor_state }}</td>
                        <td>{{ d.donor_zip }}</td>
                    </tr>
                    {% endfor %}
            </tbody>
        </div>
{% endblock content %}




