{% extends 'base.html' %}

{% block content %}
        <div class="container">
            <div class="page-title">
                <h2>FHSU {{ team_name}}</h2>
                <h4>Donor Contact Submissions</h4>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Student-Athlete</th>
                        <th>Donors Submitted</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in student_info %}
                    <tr>
                        <td><a href="{%  url 'donor_review' student.student_id %}">{{ student.name }}</a></td>
                        <td>{{ student.donor_count }}</td>
                    {% endfor %}
                    </tr>
                </tbody>
{#            </table>#}
</div>
{% endblock content %}




