{% extends 'base.html'%}

{% block content %}
    <div class="main-content">
        <div class="form-container">
            <h2 class="form-title">Contact Information</h2>
            <p class="form-description">You've received the support of many people on your journey to FHSU.
                <br>They want to keep supporting you now.</p>
            <p class="form-description">Please fill in the form below for each of your contacts.</p>
            <p>Contacts submitted: {{ donor_count }}/10</p>

            <div id="progress-bar-container">
                <div id="progress-bar" style="width: {{ progress }}%;"></div>
            </div>
            <form method="POST" action="{%  url 'donor' student_id %}" enctype="multipart/form-data">
                {%  csrf_token %}
                {{  form.as_p }}
                <button class="main-button">Submit</button>
            </form>
        </div>
        <div class="donor-content">
            <h4 class="content-title">Submitted Contact Information</h4>
            <table class="contacts-table">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for d in s_donors %}
                        <tr>
                            <td>{{ d.contact_first }}</td>
                            <td>{{ d.contact_last }}</td>
                            <td>{{ d.contact_email }}</td>
                            <td>{{ d.contact_phone }}</td>
                            <td><a href="{% url 'donor_edit' d.id %}" class="edit-button">Edit</a> </td>
                            {% endfor %}
                        </tr>
                    </tbody>
            </table>
        </div>
    </div>

{% endblock content %}


